.fireworks-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.logo {
  background: rgb(135, 57, 249);

  height: 60px;
  width: 60px;

  margin: 10px;

  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.navbt {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 0.6rem;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;
}

.green {
  background-color: rgb(36, 153, 0);
}

.red {
  background-color: rgb(255, 79, 79);
}

.mastermindPlayer {
  z-index: 20;

  height: 4.2rem;
  border-radius: 12px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.solution2 {
  z-index: 42;
  position: absolute;
  bottom: 2rem;

  min-width: 300px;
  max-width: 300px;
  width: 50%;
}

.closePalette {
  position: absolute;
  background: rgba(255, 0, 0, 0.747);
  border-radius: 50%;
  right: -0.5rem;
  top: -0.5rem;

  padding: 0.4rem;

  cursor: pointer;
}

.colorsPalette2 {
  background: rgba(255, 255, 255, 0.753);

  border-radius: 12px;
  padding: 10px;

  margin-bottom: 0.5rem;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 5px;
  grid-column-gap: 5px;

  justify-content: center;
}

.play2 {
  background-color: rgb(135, 57, 249);
}

.st2 {
  background-color: rgb(135, 57, 249);
}

.sd2 {
  background-color: rgb(45, 45, 45);
}

.sr {
  background-color: rgb(45, 45, 45);
}

.submit_game_button {
  animation: shake 3s ease-in-out;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mastermind__template {
  width: 100%;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  border-radius: 5px;

  padding: 1rem;
  border-radius: 1rem;
}

.mastermind__primary {
  background-color: rgb(135, 57, 249);
  margin-top: 90vw;
}

.mastermind__second {
  background-color: rgb(45, 45, 45);
}

.mastermind__left {
  margin-left: 1rem;
}

.mastermind__right {
  margin: 1rem;

  width: 2.9rem;
  min-width: 2.9rem;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 2px;
  grid-column-gap: 2px;

  justify-content: center;
}

.mastermind__center {
  position: relative;
  width: 70%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.tapicon {
  position: absolute;
  top: -1.4rem;
  left: 0.4px;
  z-index: 20;
  transform: rotate(-145deg);
  animation: tape 2s;
}

@keyframes tape {
  0% {
    transform: rotate(-145deg) scale(0);
  }
  25% {
    transform: rotate(-145deg) scale(0.5);
  }
  50% {
    transform: rotate(-145deg) scale(1);
  }
  75% {
    transform: rotate(-145deg) scale(0.8);
  }
  100% {
    transform: rotate(-145deg) scale(1);
  }
}

.circle {
  margin: 0rem 0.2rem;

  background: #646161fa;
  box-shadow: inset 6px 6px 6px #272323, inset -6px -12px 12px #6e6e6e;

  border-radius: 50%;
  padding: 0.9rem;
}

.circle__game {
  cursor: pointer;
}

.circle__help {
  padding: 0.4rem;
  margin: 0.1rem;

  box-shadow: inset 2px 2px 2px #272323, inset -12px -12px 4px #b8b8b8fa;
  display: none;
}

.help__true {
  display: block;
}

.circle__help--black {
  background: black;
  padding: 0.4rem;
  display: block;

  box-shadow: 0rem 0rem 0.1rem white;
}

.circle__help--white {
  background-color: white;
  padding: 0.4rem;
  box-shadow: 0rem 0rem 0.2rem white;
  display: block;
}

.colorsPalette {
  display: flex;
  justify-content: space-evenly;

  background-color: none;
}
