.header__logo {
  height: 80px;
  width: 80px;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1rem;
  background: rgb(135, 57, 249);
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
}

.home-logo {
  align-items: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  display: flex;
  justify-content: center;
  width: 92%;
}

.home-letters {
  font-size: 2rem;
  line-height: 0.4;

  text-align: center;
  text-shadow: 1px 1px 2px #755134, 5px 6px 8px rgb(0 0 0 / 55%);
  text-transform: uppercase;
  width: 90%;
}
.logo-react {
  -webkit-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite;
  font-size: 10px;
  position: absolute;
  right: 0;
  text-shadow: none;
  text-transform: none;
  top: -5%;
  width: 3rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.home-letters span:first-child {
  color: rgb(255, 79, 79);
  font-size: 90px;
}

.home-letters span:nth-child(2) {
  color: rgb(255, 0, 0);
  font-size: 45px;
}
.home-letters span:nth-child(3) {
  color: #87cefa;
  font-size: 32px;
}
.home-letters span:nth-child(4) {
  color: rgb(0, 119, 255);
  font-size: 48px;
}
.home-letters span:nth-child(5) {
  color: #0000ff;
  font-size: 42px;
}

.home-letters span:nth-child(6) {
  color: #ffff00;
}
.home-letters span:nth-child(8) {
  color: rgb(255, 215, 0);
  font-size: 65px;
}

.home-letters span:nth-child(9) {
  color: rgb(9, 255, 0);
  font-size: 50px;
}
.home-letters span:nth-child(10) {
  color: rgb(36, 153, 0);
}
.home-letters span:nth-child(11) {
  color: rgb(197, 96, 255);
  font-size: 45px;
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 0.5;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translateZ(0);
  }
}

.header__title {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;

  padding: 2px 1.5rem 0px 0.5rem;
}

.home_area {
  min-width: 140px;
  max-width: 540px;

  width: 90%;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.96);
}

.home-container-button {
  width: 100%;

  margin-top: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.container2 {
  min-width: 140px;
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: 1rem 0;
}

.settings-label {
  display: block;
  text-align: center;
  margin-left: 1rem;
  text-transform: uppercase;
}

.padding__top-bot {
  padding: 1rem 0;
}

.margin__top-bot {
  margin: 1rem 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex__jc__space-between {
  justify-content: space-between;
}
.flex__jc__space-around {
  justify-content: space-around !important;
}
.flex__jc__space-evenly {
  justify-content: space-evenly;
}

.flex-start {
  justify-content: flex-start;
}

.btns-control {
  display: flex;
}

.bt-small {
  width: 3rem;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background: #8739f9;
  color: white;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  font-size: 1.1rem;
}

.link-button {
  min-width: 300px;
  max-width: 400px;
  margin: 1rem auto;
  z-index: 6;
  width: 90%;

  padding: 0.8rem;
  border-radius: 1rem;
  background: #8739f9;
  color: white;

  display: flex;
  justify-content: space-between;

  font-size: 2.2rem;
}

.link-button_min {
  min-width: 2rem;
  max-width: 6rem;
  width: 4rem;
  z-index: 6;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #8739f9;
  color: white;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  font-size: 1.5rem;
}

.button-icon {
  width: 2rem;
  height: 2rem;
}
