.header__logo {
  height: 80px;
  width: 80px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
    background: rgb(135, 57, 249);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
}

.header__title {
  flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;

    padding: 2px 1.5rem 0px 0.5rem;
}

.home_area {
  min-width: 140px;
  max-width: 540px;

  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.96);

}

.link-button {

  min-width: 140px;
  max-width: 540px;
  width: 90%;
  z-index: 6;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #8739F9;
  color: white;

  display: flex;
  justify-content: center;

}
